psehomeprint/combined/RocketShipIt/Resources/schemas/dhl/AM/DCTResponsedatatypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.dhl.com/DCTResponsedatatypes"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.dhl.com/DCTResponsedatatypes"
	elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:element name="DCTResponseDataTypes">
		<xsd:annotation>
			<xsd:documentation>Comment describing your root element
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OrgnSvcAreaType">
		<xsd:sequence>
			<xsd:element name="FacilityCode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ServiceAreaCode" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DestSvcAreaType">
		<xsd:sequence>
			<xsd:element name="FacilityCode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ServiceAreaCode" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BkgDetailsType">
		<xsd:sequence>
			<xsd:element name="OriginServiceArea" minOccurs="1"
				maxOccurs="1" type="OrgnSvcAreaType" />
			<xsd:element name="DestinationServiceArea" minOccurs="1"
				maxOccurs="1" type="DestSvcAreaType" />
			<xsd:element name="QtdShp" minOccurs="0" maxOccurs="unbounded"
				type="QtdShpType" />
			<xsd:element name="CalcNextDayInd" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SrvCombType">
		<xsd:sequence>
			<xsd:element name="GlobalServiceName" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="45" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="GlobalServiceCode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="6" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LocalServiceCode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LocalServiceTypeName" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="45" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ChargeCodeType" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3" />
						<xsd:enumeration value="FEE" />
						<xsd:enumeration value="SCH" />
						<xsd:enumeration value="XCH" />
						<xsd:enumeration value="NRI" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SOfferedCustAgreement" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SrvComb" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Prod" minOccurs="0" type="ProdType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProdType">
		<xsd:sequence>
			<xsd:element name="VldSrvComb" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SpecialServiceType"
							type="xsd:string" minOccurs="0" maxOccurs="1">
						</xsd:element>
						<!-- xsd:element name="VldMrkSrvComb" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="LocalChargeCode"
										type="xsd:string" minOccurs="0" maxOccurs="1">
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element -->
						<xsd:element name="LocalServiceType"
										type="xsd:string" minOccurs="0" maxOccurs="unbounded">
									</xsd:element>
						<xsd:element name="CombRSrv" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element
										name="RestrictedSpecialServiceType" minOccurs="0"
										type="xsd:string" maxOccurs="1">
									</xsd:element>
									<!-- xsd:element name="CombRMrkSrv" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                        	<xsd:sequence>
                                        		<xsd:element
                                        			name="RestrictedLocalChargeCode"
                                        			type="xsd:string" minOccurs="0">
                                        		</xsd:element>
                                        	</xsd:sequence>
                                        </xsd:complexType>
									</xsd:element-->
									<xsd:element name="RestrictedLocalServiceType"
                                        			type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>                                        		
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NoteType">
		<xsd:sequence>
			<xsd:element name="Condition" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ConditionCode" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="0"></xsd:minLength>
									<xsd:maxLength value="10"></xsd:maxLength>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ConditionData" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QtdShpExChrgType">
		<xsd:sequence>
			<xsd:element name="SpecialServiceType" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LocalServiceType" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="GlobalServiceName" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="LocalServiceTypeName" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="SOfferedCustAgreement" type="xsd:string"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="ChargeCodeType" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="InsPrmRateInPercentage" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="8"/>
			          <xsd:fractionDigits value="4"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CurrencyCode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ChargeValue" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
			          <xsd:fractionDigits value="3"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ChargeTaxAmount" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
			          <xsd:fractionDigits value="3"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ChargeTaxRate" minOccurs="0"
				 maxOccurs="unbounded">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="6"/>
			          <xsd:fractionDigits value="3"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Added for Brazil DCT change -->
 			<xsd:element name="ChargeTaxAmountDet" minOccurs="0" 
 			type="ChargeTaxAmountDetType" maxOccurs="unbounded"/>
			 <xsd:element name="QtdSExtrChrgInAdCur" minOccurs="0" 
 			type="QtdSExtrChrgInAdCurType" maxOccurs="unbounded"/>
			<!-- Added for Brazil DCT change -->
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Start:Added for Brazil DCT changes  -->
			<xsd:complexType name="WeightChargeTaxDetType">
		<xsd:sequence>
			<xsd:element name="TaxTypeRate" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="8"/>
			          <xsd:fractionDigits value="6"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TaxTypeCode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					<xsd:maxLength value="6"></xsd:maxLength>
					</xsd:restriction>
			</xsd:simpleType>
			</xsd:element>		
			<xsd:element name="WeightChargeTax" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
			          <xsd:fractionDigits value="3"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>	
			<xsd:element name="BaseAmt" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
			          <xsd:fractionDigits value="3"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>	
		</xsd:sequence>
	</xsd:complexType>
	
			<xsd:complexType name="ChargeTaxAmountDetType">
		<xsd:sequence>
			<xsd:element name="TaxTypeRate" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="8"/>
			          <xsd:fractionDigits value="6"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TaxTypeCode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					<xsd:maxLength value="6"></xsd:maxLength>
					</xsd:restriction>
			</xsd:simpleType>
			</xsd:element>		
			<xsd:element name="TaxAmount" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
			          <xsd:fractionDigits value="3"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>	
			<xsd:element name="BaseAmount" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
			          <xsd:fractionDigits value="3"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>	
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="QtdSInAdCurType">
		<xsd:sequence>
			<xsd:element name="CustomsValue" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
			          <xsd:fractionDigits value="3"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ExchangeRate" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
			          <xsd:fractionDigits value="6"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CurrencyCode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3" />
					</xsd:restriction>
			</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CurrencyRoleTypeCode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="5" />
					</xsd:restriction>
			</xsd:simpleType>
			</xsd:element>			
			<xsd:element name="WeightCharge" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
			          <xsd:fractionDigits value="3"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TotalAmount" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
			          <xsd:fractionDigits value="3"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>			
			<xsd:element name="TotalTaxAmount" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
			          <xsd:fractionDigits value="3"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="WeightChargeTax" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
			          <xsd:fractionDigits value="3"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>			
			<xsd:element name="WeightChargeTaxDet" minOccurs="0"
				 type="WeightChargeTaxDetType" maxOccurs="unbounded"/> 
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="QtdSExtrChrgInAdCurType">
		<xsd:sequence>
			<xsd:element name="ChargeValue" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
			          <xsd:fractionDigits value="3"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ChargeExchangeRate" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
			          <xsd:fractionDigits value="6"/>
       				 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ChargeTaxAmount" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
			          <xsd:totalDigits value="18"/>
		